# matrix factorization , SVD(특이값분해), 추천 프로세스 구현 예시
![png](https://greeksharifa.github.io/public/img/Machine_Learning/2019-12-17-Recommendation%20System/01.JPG)

In [3]:
# numpy and pandas for data manipulation
import numpy as np
import pandas as pd 

# sklearn preprocessing for dealing with categorical variables
from sklearn.decomposition import TruncatedSVD

# File system manangement
import os

import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# List files available
print(os.listdir("../movie/"))

['links.csv', 'movielens-small.zip', 'movies.csv', 'ratings.csv', 'README.txt', 'tags.csv']

In [5]:
rating_data = pd.read_csv('../movie/ratings.csv')
movie_data = pd.read_csv('../movie/movies.csv')

In [6]:
rating_data.head(3)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182

In [7]:
rating_data.shape

(100004, 4)

In [8]:
movie_data.head(3)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance

In [9]:
movie_data.shape

(9125, 3)

In [10]:
rating_data.drop('timestamp',axis=1,inplace=True)
rating_data.head(3)

   userId  movieId  rating
0       1       31     2.5
1       1     1029     3.0
2       1     1061     3.0

In [11]:
movie_data.drop('genres',axis=1,inplace=True)
movie_data.head(3)

   movieId                    title
0        1         Toy Story (1995)
1        2           Jumanji (1995)
2        3  Grumpier Old Men (1995)

In [12]:
user_movie_data=pd.merge(rating_data,movie_data,on='movieId')
user_movie_data.head(3)

   userId  movieId  rating                   title
0       1       31     2.5  Dangerous Minds (1995)
1       7       31     3.0  Dangerous Minds (1995)
2      31       31     4.0  Dangerous Minds (1995)

In [13]:
user_movie_data.shape

(100004, 4)

In [14]:
user_movie_rating = user_movie_data.pivot_table('rating',index='userId',columns='title').fillna(0)

In [15]:
user_movie_rating.shape

(671, 9064)

In [16]:
user_movie_rating.head(5)

title,"""Great Performances"" Cats (1998)",$9.99 (2008),'Hellboy': The Seeds of Creation (2004),'Neath the Arizona Skies (1934),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),...,Zulu (1964),Zulu (2013),[REC] (2007),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931),İtirazım Var (2014)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
movie_user_rating = user_movie_rating.values.T
movie_user_rating.shape

(9064, 671)

![png](https://miro.medium.com/max/1400/1*5js-e2mRMKYim8UuAhIL2Q.png)

In [18]:
svd = TruncatedSVD(n_components=12)
mtx = svd.fit_transform(movie_user_rating)
mtx.shape

(9064, 12)

In [26]:
mtx[0]

array([ 0.01227491,  0.00250789,  0.01554473, -0.03395583, -0.01453471,
        0.00365395, -0.00252761,  0.04546766, -0.01345918, -0.02180384,
        0.0099923 , -0.00730262])

In [20]:
corr = np.corrcoef(mtx)
corr.shape

(9064, 9064)

In [21]:
#sns.heatmap(corr)

In [22]:
movie_title = user_movie_rating.columns
movie_title_list = list(movie_title)
# print(movie_title_list)
select_hands = movie_title_list.index("U-571 (2000)")

In [23]:
corr_select_hands = corr[select_hands]
list(movie_title[corr_select_hands>0.9])[:50]

['Air Force One (1997)',
 'Analyze That (2002)',
 'Cast Away (2000)',
 'Finding Forrester (2000)',
 'Hannibal (2001)',
 'Jerry Maguire (1996)',
 'Karate Kid, The (1984)',
 'Longest Yard, The (1974)',
 'Mexican, The (2001)',
 'Notting Hill (1999)',
 'Payback (1999)',
 'Road to Perdition (2002)',
 'Robin Hood: Prince of Thieves (1991)',
 'Rounders (1998)',
 'Seabiscuit (2003)',
 'Speed 2: Cruise Control (1997)',
 'Sum of All Fears, The (2002)',
 'Titanic (1997)',
 'U-571 (2000)',
 'We Were Soldiers (2002)']